<p> Hello <%= @user.email %> !</p>

<p> A request has been received to change the password for your TrouveTaTable account</p>
<p> Click on the link below to create a new password.</p>

<p><%= link_to "Change my password", @url + "/#{@user.reset_password_token}" %></p>

<p>If you did not initiate this request, please contact us immediately at trouvetatable@gmail@.com </p>
<p>Your password will remain the same if you do not use this link. </p>
<p> Thank you and see you soon at TrouveTaTable!</p> 