<p>Bonjour <%= @user.email %> !</p>

<p>Quelqu'un a demandé un lien pour changer votre mot de passe sur TrouveTaTable. Vous pouvez le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to "Changer mon mot de passe", @url + "/#{@user.reset_password_token}" %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet e-mail.</p>
<p>Votre mot de passe ne changera pas si vous n'utilisez pas le lien ci-dessus.</p>
<p>A bientôt sur TrouveTaTable!</p> 