<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Your reservation is confirmed! </h1>
    <p> Here is the email you have used to make your reservation: <%= @user.email %>. </p>
    <p> Find all your reservations and even more at: <%= @url %>. </p>  
    <p> Thank you and see you soon at TrouveTaTable!</p> 
  </body>
</html> 