<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello  welcome to TrouveTaTable!</h1>
    <p>
      You have registred using the following email: <%= @user.email %>.
    </p>
    <p>
      To find your table and check your bookings, login via : <%= @url %>.
    </p>
    <p> See you soon, at TrouveTaTable!
  </body>
</html> 