<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez TrouveTaTable!</h1>
    <p>
    Voici l'email que vous avez utilisé pour vous inscrire : <%= @user.email %>.
    </p>
    <p>
    Pour trouver votre table et voir l'ensemble de vos réservations, connectez-vous à : <%= @url %>.
    </p>
    <p>À bientôt chez TrouveTaTable!
  </body>
</html> 